---
layout: blank
title: "Home"
---
{% unless site.show_excerpts %}
{% include archive.html %}
{% else %}
{% for page in paginator.posts %}
<article>
  <header>
    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
  </header>
{{ page.excerpt }}
  {% unless page.excerpt == page.content %}
  <footer><a class="ghost" href="{{ page.url | relative_url }}">{{ site.more }}</a></footer>
  {% endunless %}
</article>
{% endfor %}
{% if paginator.total_pages > 1 %}
<footer>
  <a {% if paginator.previous_page %} class="gray" href="{{ paginator.previous_page_path | relative_url }}" {% else %} class="disabled" {% endif %}>{{ site.newer }}</a>
  <span class="paginate">page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <a {% if paginator.next_page %} class="gray" href="{{ paginator.next_page_path | relative_url }}" {% else %} class="disabled" {% endif %}>{{ site.older }}</a>
</footer>
{% endif %}
{% endunless %}
